@import url('https://fonts.googleapis.com/css?family=Cabin|Caveat|Nothing+You+Could+Do|Rock+Salt&display=swap')

$font-logo: 'Nothing You Could Do', cursive
$font-rough: 'Rock Salt', cursive
$font-hand: 'Caveat', cursive
$font-content: 'Cabin', sans-serif

header
  height: 100px

  nav
    .navbar-brand
      font-family: $font-logo
      font-size: 2em

    .nav-item
      .nav-link
        color: #fff
        font-size: 1.5em
        font-family: $font-rough
        &:hover
          color: #20C997

    button
      font-family: $font-rough

div.main
  .nav
    font-family: $font-hand
    font-size: 1.2em

  div.section
    h1
      font-family: $font-hand

    form
      font-family: $font-content

    div.card
      font-family: $font-content

      a
        color: #000
        text-decoration: none

      .card-title
        cursor: pointer

    ul
      font-family: $font-content

.pointer
  cursor: pointer

input[type='date']
  &::-webkit-inner-spin-button
    display: none

@media screen and (max-width: 991px)
  div.main
    div.account
      .w-25
        width: 50% !important

@media screen and (max-width: 500px)
  header
    nav
      .navbar-brand
        font-size: 1.5em

      .nav-item
        .nav-link
          font-size: 1em

      button.btn
        padding: 0.25rem 0.3rem
        font-size: 0.55rem

  .card-body
    h5
      font-size: 1.2em
    h6
      font-size: 0.8em

@media screen and (max-width: 420px)
  div.main
    div.account
      .w-25
        width: 75% !important

@media screen and (max-width: 370px)
  header
    nav
      .navbar-brand
        font-size: 1.25em

      .nav-item
        .nav-link
          font-size: 0.7em

      button.btn
        padding: 0.25rem 0.3rem
        font-size: 0.5rem

  div.main
    .nav
      font-size: 1em
